<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head ('Sonara - Detalle de Artista')"></head>


<body class="d-flex flex-column h-100">


<header th:replace="fragments/header :: header"></header>

<main class="list-page">
  <div class="form-card">

    <h1>
      <span th:text="#{msg.artistaOLD-detail.title}">Detalle del Artista:</span>
      <span th:text="${artistaOLD.nombre_artistico}">Nombre Artístico</span>
    </h1>

    <div class="mt-3">
      <h2 class="h5" th:text="#{msg.artistaOLD-detail.section.mainData}">Datos Principales</h2>
      <dl class="row">
        <dt class="col-sm-3" th:text="#{msg.artistaOLD-detail.field.artista_id}"></dt>
        <dd class="col-sm-9" th:text="${artistaOLD.artista_id}"></dd>

        <dt class="col-sm-3" th:text="#{msg.artistaOLD-detail.field.nombre_artistico}"></dt>
        <dd class="col-sm-9" th:text="${artistaOLD.nombre_artistico}"></dd>

        <dt class="col-sm-3" th:text="#{msg.artistaOLD-detail.field.pais}"></dt>
        <dd class="col-sm-9" th:text="${artistaOLD.pais}"></dd>

        <dt class="col-sm-3" th:text="#{msg.artistaOLD-detail.field.descripcion}"></dt>
        <dd class="col-sm-9" th:text="${artistaOLD.descripcion}"></dd>
      </dl>
    </div>

    <div class="mt-4">
      <a th:href="@{/artistas/edit(id=${artistaOLD.artista_id})}"
         class="btn btn-primary"
         th:text="#{msg.artistaOLD-detail.action.edit}">Editar</a>

      <a th:href="@{/artistas}" class="btn btn-secondary" th:text="#{msg.artistaOLD-detail.action.returnback}">Volver a la lista</a>
    </div>
  </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<div th:replace="fragments/scripts :: scripts"></div>

</body>

</html>