<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('Sonara - Genero Form')"></head>

<body class="d-flex flex-column h-100">

<header th:replace="fragments/header :: header"></header>

<main class="form-page">
    <div class="form-card">

        <h1 th:text="${genero.id == null} ? #{msg.genero-form.add} : #{msg.genero-form.edit}">Nuevo Género</h1>

        <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>
        <div th:if="${successMessage}" class="alert alert-success" th:text="${successMessage}"></div>

        <form th:action="${genero.id} == null ? @{/generos/insert} : @{/generos/update}"
              th:object="${genero}" method="post" class="mt-3">

            <input type="hidden" th:field="*{id}" />

            <div class="mb-3">
                <label for="nombre" class="form-label" th:text="#{msg.genero-form.nombre}"></label>
                <input type="text" th:field="*{nombre}" id="nombre" class="form-control"
                       maxlength="50" required />
                <div th:if="${#fields.hasErrors('nombre')}" class="text-danger" th:errors="*{nombre}" ></div>
            </div>

            <div class="mb-3">
                <label for="descripcion" class="form-label" th:text="#{msg.genero-form.descripcion}"></label>
                <textarea th:field="*{descripcion}" id="descripcion" class="form-control"
                          rows="3" maxlength="255"></textarea>
                <div th:if="${#fields.hasErrors('descripcion')}" class="text-danger" th:errors="*{descripcion}"></div>
            </div>

            <button type="submit" class="btn btn-primary"
                    th:text="${genero.id == null} ? #{msg.genero-form.create} : #{msg.genero-form.update}"></button>

            <a th:href="@{/generos}" class="btn btn-secondary" th:text="#{msg.genero-form.returnback}">Volver</a>
        </form>

    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

<div th:replace="fragments/scripts :: scripts"></div>

</body>
</html>